<!doctype html>
<title>Flaskr</title>
<body>
<form action="/signup" method="post">
Angle_start : <br> 
  <input type="text" name="angle_start"></input>
  <br>
  Angle_stop: <br> 
  <input type="text" name="angle_stop"></input>
  <br>
  n_angles : <br> 
  <input type="text" name="n_angles"></input>
  <br>
  n_nodes: <br> 
  <input type="text" name="n_nodes"></input>
  <br>
  n_levels: <br> 
  <input type="text" name="n_levels"></input>
  <br>
  <input type="submit" value="Signup"></input>
</form>
</body>
</div>