<!DOCTYPE html>
<html>
  <head>
    <title>Results</title>
    <style>
#container {
position:relative
}
#div1, #div2 {
}
#div1 {
width: 40%;
}
#div2 {
position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        width: 60%;
}
</style>
<script>
function display(t) {
    document.getElementById("disp").src = '/static/' +t 
}
</script>
  </head>
  <body>
  <div id="container">
<div id="div1">
  <a href=/ >Return to Index</a>
    <p>Here are the user parameters we have collected for the meshes:</p>
    <ul>
      {% for i, j in params.items() %}
      <li>{{ i }} : {{ j }}</li>
      {% endfor %}
    </ul>
    <p>Here are the user parameters we have collected for the simulation:</p>
    <ul>
      {% for i, j in airfoil_params.items() %}
      <li>{{ i }} : {{ j }}</li>
      {% endfor %}
    </ul>
    <p>LET'S GO!</p>
    <h3>Status of the computations</h3>
    <p>{{status}}</p>
    <h2>RESULTS</h2>
    <p>{{results}}</p>
    
    <p>
    {% for i in images|sort %}   
    <button onclick="display('{{i}}');" > {{i}}</button>
{% endfor %}
</p>
</div>
    <div id="div2">
    <p> <img id = "disp" src ={{ url_for('static', filename = 'tmp.png') }} style="width: 100%; height: 100%; float: left; " alt="results" title="Results" border="0">
</p>
  </div>
    </div>

  </body>
</html>

